SUBVORTEX_GITHUB_TOKEN
SUBVORTEX_PRERELEASE_ENABLED=False
SUBVORTEX_PRERELEASE_TYPE=
SUBVORTEX_EXECUTION_ROLE=miner
SUBVORTEX_EXECUTION_METHOD=container
SUBVORTEX_WORKING_DIRECTORY=/var/tmp/subvortex
SUBVORTEX_CHECK_INTERVAL=30
SUBVORTEX_REDIS_HOST=localhost
SUBVORTEX_REDIS_PORT=6379
SUBVORTEX_REDIS_INDEX=0
SUBVORTEX_REDIS_PASSWORD=