[Unit]
Description=SubVortex Auto Upgrader
After=network.target

[Service]
WorkingDirectory=/root/SubVortex.AutoUpgrader/subvortex/auto_upgrader
EnvironmentFile=/root/SubVortex.AutoUpgrader/subvortex/auto_upgrader/.env
ExecStart=/root/SubVortex.AutoUpgrader/subvortex/auto_upgrader/venv/bin/python3 -m subvortex.auto_upgrader.src.main
StandardOutput=append:/var/log/subvortex-auto-upgrader/subvortex-auto-upgrader.log
StandardError=append:/var/log/subvortex-auto-upgrader/subvortex-auto-upgrader-error.log
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target